<%- include('headerHost') %>

<div class="propBackground d-flex flex-column align-items-center justify-content-center">
    <h4>Add Property Form</h4>
    <form action="/proplist" method="POST" enctype="multipart/form-data" class="addBorder d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column">
            <input class="addProp" type="text" placeholder="Property Name" name="propName">
            <input class="addProp" type="text" placeholder="Property Address" name="propAddrs">
            <input class="addProp" type="text" placeholder="Property Description" name="propDesc">
            <input class="addProp" type="text" placeholder="Price per Night" name="propPrice">
            <input class="addProp" type="text" placeholder="Total Guest" name="propGuest">
        </div>
        <div class="d-flex justify-content-center m-2">
            <p>1. Property Image: </p>
            <input type="file" id="image1" name="images" accept="image/*" multiple required>
        </div>
        <div class="d-flex justify-content-center m-2">
            <p>2. Property Image: </p>
            <input type="file" id="image2" name="images" accept="image/*" multiple required>
        </div>
        <div class="d-flex justify-content-center m-2">
            <p>3. Property Image: </p>
            <input type="file" id="image3" name="images" accept="image/*" multiple required>
        </div>
        <div class="d-flex justify-content-center m-2">
            <p>4. Property Image: </p>
            <input type="file" id="image4" name="images" accept="image/*" multiple required>
        </div>
        <div class="d-flex justify-content-center m-2">
            <p>5. Property Image: </p>
            <input type="file" id="image5" name="images" accept="image/*" multiple required>
        </div>
        <input type="submit" value="OK">
    </form>
</div>

<%- include('footer') %>
