<%- include('headerAdmin') %>

<div class="profileBackground d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column">
        <form action="/propVerify" method="GET">
            <button class="settingBtn">Property Verify</button>
        </form>        
        <form action="/logoutAdmin" method="GET">
            <button class="settingBtn">Logout</button>
        </form>
    </div>
</div>

<%- include('footer') %>
